// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
/** Globals */

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$body-font-family: 'Spectral', sans-serif;

$heading-font-family: 'Jost', sans-serif;

/** button */

$btn-font-weight: 800;
$btn-text-transform: 'none';

@import '~vuetify/src/styles/styles.sass';

